:root {
  --sidebar-toggled-width: 20em;
  --sidebar-hidden-width: 4em;
  --default-transition: .5s all ease;
  --sidebar-bg: rgb(36, 36, 36);
  --body-bg: rgb(28, 28, 28);
  --card-bg: rgb(46, 46, 46);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Making the select boxes full width..  */
.MuiGrid-root.MuiGrid-item>.MuiFormControl-root {
  width: 100%;
}

.custom-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 60em;
  margin: 0 auto;
}

.custom-form div {
  display: flex;
  flex-direction: column;
}

.custom-form input {
  padding: 1em;
}

.custom-form label {
  margin-bottom: .25em;
}

.custom-form button[type="submit"] {
  padding: 1em;
}

/* 
.MuiTablePagination-root .MuiTablePagination-selectLabel,
.MuiTablePagination-root .MuiInputBase-root,
.MuiTablePagination-root .MuiTablePagination-actions {
  display: none !important;
} */

.MuiTablePagination-root .MuiTablePagination-displayedRows {
  margin-right: 1em;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: var(--body-bg);
  }
}