.sidebar {
  width: var(--sidebar-hidden-width);
  height: 100vh;
  background-color: var(--sidebar-bg);
  padding: 1em 0;
  transition: var(--default-transition);
  overflow: hidden;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

.sidebar ul li {
  width: 100%;
  padding: 0 1em;
  transition: var(--default-transition);

}

.sidebar ul li:hover {
  background-color: rgb(71, 71, 71);
}

.sidebarToggled ul {
  align-items: flex-start;
}

.sidebar ul li .sidebarItem button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: inherit;
  padding: 0;
}

.sidebar ul li .sidebarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.25em;
  transition: var(--default-transition);
  cursor: pointer;
  justify-content: center;
}

.sidebarIcon svg {
  margin-top: .5em;
}

.sidebarToggled {
  width: var(--sidebar-toggled-width);
}

.sidebar.sidebarToggled ul li .sidebarItem {
  justify-content: start;
}

.sidebarLabel {
  max-width: 0;
  overflow: hidden;
  transition: max-width 1s ease;
  white-space: nowrap;
}

.sidebarLabelToggled {
  max-width: unset;
  margin-left: .5rem;
}